* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(90deg, rgb(240, 158, 158), rgb(134, 176, 255));
  font-family: Arial, Helvetica, sans-serif;
  height: 500vh;

  /*background-image: url("extraImages/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;*/
}

.container {
  max-width: 900px;
  margin: 0 auto;
  margin-top: 34%;
  padding: 2rem;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
  background-color: #eee;
  border-radius: 10px;
}

input {
  width: 100%;
  outline: none;
  margin-bottom: 2rem;
  height: 45px;
  padding: 0.5rem 2rem;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.list-items {
  list-style: none;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
}

.list-item {
  background-color: white;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
  transition: all 0.3s;
}

.list-item:last-child {
  border-bottom: none;
}

.list-item:hover {
  background: #96b3da;
  color: #fff;
  cursor: pointer;
}

.no-item {
  border: 1px solid #ccc;
  padding: 1rem;
  border-left: 5px solid rgb(100, 157, 231);
  background-color: lightskyblue;
  color: rgb(0, 0, 0);
  text-align: center;
  border-radius: 5px;
  font-size: 1.2rem;
}

#one {
  opacity: 100%;
  filter: brightness(0%);
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#wtp {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
}
