body {
  background-image: url("extraImages/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#gen {
  margin-left: auto;
  margin-right: auto;
  margin-top: 75px;
  display: block;
}

#gen1 {
  position: absolute;
  top: 35%;
  left: 24%;
  transform: translate(-50%, -50%);
  width: 10%;
}

#gen2 {
  position: absolute;
  top: 35%;
  left: 49%;
  transform: translate(-50%, -50%);
  width: 10%;
}

#gen3 {
  position: absolute;
  top: 35%;
  left: 75%;
  transform: translate(-50%, -50%);
  width: 10%;
}

#gen4 {
  position: absolute;
  top: 55%;
  left: 24%;
  transform: translate(-50%, -50%);
  width: 10%;
}

#gen5 {
  position: absolute;
  top: 55%;
  left: 49%;
  transform: translate(-50%, -50%);
  width: 10%;
}

#gen6 {
  position: absolute;
  top: 55%;
  left: 75%;
  transform: translate(-50%, -50%);
  width: 10%;
}

#gen7 {
  position: absolute;
  top: 75%;
  left: 24%;
  transform: translate(-50%, -50%);
  width: 10%;
}

#gen8 {
  position: absolute;
  top: 75%;
  left: 49%;
  transform: translate(-50%, -50%);
  width: 10%;
}

#gen9 {
  position: absolute;
  top: 75%;
  left: 75%;
  transform: translate(-50%, -50%);
  width: 10%;
}

#impossible {
  position: absolute;
  top: 92%;
  left: 49%;
  transform: translate(-50%, -50%);
  width: 15%;
}
